.footer {
  min-width: 200px;
  > div.content {
    max-width: 780px;
    width: 100%;
  }

  .input-ans-msg {
    border: none;
    &:focus {
      box-shadow: unset;
    }
  }

  .send-btn {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    text-align: center;
    line-height: 28px;
    color: #c6c6c6;
    .icon-a-44tubiao-133 {
      font-size: 18px;
    }
  }
}
