.footer {
  min-width: 350px;
  > div.content {
    max-width: 780px;
    width: 100%;
  }

  .input-ans-msg {
    border: none;
    &:focus {
      box-shadow: unset;
    }
  }

  .send-btn {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    line-height: 30px;
    color: #c6c6c6;
  }
}
